*{
    margin:0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(../img/1.jpg);
    background-position:center;
    background-size: cover;


}
.navbar{

    
}
.logo{
    text-align: left;
}
.navbar ul{
    list-style: none;
    text-align: right;
   
}

.navbar ul li{
  display: inline-block;
  position: relative;
     margin:0 10px;
   ;
    
}

.navbar ul li a{
   
  
      text-decoration: none;
      color:white;
      text-transform: uppercase;
}

/* main code here */

.navbar ul li ::after{
    content:"";
    width: 0;
    position: absolute;
    height:3px;
    background:rgb(6, 155, 255);
    display: block;
    left:0;
    bottom: -5px;
      transition: 0.5s

}
.navbar ul li ::before{
    content:"";
    width: 0;
    position: absolute;
    height:3px;
    background:rgb(248, 248, 248);
    display: block;
    right:0;
 top:-5px;
    transition: 0.5s
}
.navbar ul li:hover ::after{
    width: 100%;}

.navbar ul li:hover ::before {
    width: 100%;
}

/* main code here */

.content{

    width:100%;
    position: absolute;
    top:50%;
left:50%;                      
    transform: translate(-50%,-50%);
    text-align: center;

}

button{
    width:200px;
    padding:5px 0;
  margin: 10px 10px;
    background:transparent;
    border-radius: 25px;
    border:2px solid rgb(11, 176, 241);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;


}

span{
    background-color: turquoise;
    height: 100%;
    width:0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
transition: 0.5s;

}
button:hover span{
    width: 100%;
}

button:hover{
    border:none;
}